<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>

      <div class="header-left">
        <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"), "/"%>
        <%= form_with url: search_path, method: :get, class: "search-boxes" do |f|%>
          <%= f.text_field :place, placeholder: "エリア" %>
          <%= f.text_field :keyword, placeholder: "キーワード" %>
        <% end %>
      </div>

      <div class="header-right">
        <% if user_signed_in? %>
          <p><%= current_user.name%></p>
          <div class="nav-items">
          <!-- rails7でどこにjsを描けばいいのかわからなかったscript-->
            <script>
              function displayMenu() {
                document.getElementById("hidden-menu").classList.toggle("displayHeader");
                console.log("test")
              }
            </script>

            <% if current_user.icon_name.nil? %>
              <%= image_tag "default_icon.jpeg", class: "host-icon", alt: "icon", onclick: "displayMenu();"%>
            <%else%>
              <%= image_tag "user_images/#{current_user.icon_name}", class: "host-icon", alt: "icon", onclick: "displayMenu();"%>
            <%end%>

            <ul class="header-nav-menu" id="hidden-menu">
              <li><%= link_to "ルーム登録", "/rooms/new" %></li>
              <li><%= link_to "予約済みルーム一覧", reservations_path %></li>
              <li><%= link_to "登録済みルーム一覧", "/rooms/posts" %></li>
              <li><%= link_to "設定", edit_user_registration_path %></li>
              <li><%= link_to"ログアウト", destroy_user_session_path, data:{turbo_method: :delete} %></li>
            </ul>

          </div>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
          <%= link_to "登録する", new_user_registration_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <p>footerlogo</p>
    </footer>
  </body>
</html>
