<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>

      <div class="header-left">
        <%= link_to image_tag(""), "/"%>
        <%=#3form_with model: @rooms, method: :get, do |f|%>
          <%= #f.text_field :city %>
          <%= #f.text_field :keyword %>
          <%= #f.submit %>
        <%#end%>
      </div>

      <div class="header-right">

        <% if user_signed_in? %>
        <% binding.pry %>
          <p> <%= current_user.email %> </p>
          <div class="nav-items">
            <%= image_tag "#{current_user.image_name}.img", class: "host-icon"%>
            <ul class="header-nav-menu">
              <li>
                <%= link_to "ルーム登録", "/rooms/new" %>
              </li>
              <li>
                <%= link_to "予約済みルーム一覧", reservations_path %>
              </li>
              <li>
                <%= link_to "登録済みルーム一覧", "/rooms/posts" %>
              </li>
              <li>
                <%= link_to "設定", users_path(:id) %>
              </li>
              <li>
                <%= link_to"ログアウト", destroy_user_session_path, data:{turbo_method: :delete} %>
              </li>
            </ul>
          </div>

        <% else %>
          <%= button_to "ログイン" new_user_session_path, class: "btn btn-primary"%>
          <%= button_to "登録" new_user_registration_path%>
        <% end %>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <p>footerlogo</p>
    </footer>
  </body>
</html>
